html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #979DAC;
    background-image: url("adminlogin.webp");
    background-size: cover;
    color: white;
}

#main-holder {
    width: 50%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #002855;
    border-radius: 7px;
    border: none;

    background-color: rgba(0, 0, 0, .4);
}

#invalidLogin {
    background-color: rgba(215, 87, 87, 0.5);
    color: black;
    padding: 2rem;
    font-size: large;
    border-radius: 1rem;
}


#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

.login-form-field::placeholder {
    color: #3a3a3a;
}

.login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    border-radius: 3px;
    outline: none;
}

#login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #023E7D;
    cursor: pointer;
    outline: none;
}


.input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    padding: 0px 0px 5px 5px;

}