body {
    height: 100%;
    background: gray;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

center {
    display: flex;
    justify-content: center;
}

label {
    display: block;
}

.inline {
    display: inline-block;
}

.btn-block {
    margin-top: 10px;
    text-align: center;
    /* justify-items: center;
    align-items: center; */
}

form {
    padding: 60px;
    width: 550px;
    max-width: calc(100% - 60px);
    background-color: white;
}

.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.form-element span {
    margin-bottom: 10px;
}

input,
textarea {
    border: 1px solid
}

form button {
    color: white;
    background: #023E7D;
    border-radius: 5px;
    border: none;
    width: 550px;
    height: 30px;
    margin-top: 25px;
}

#questions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.radioGroup {
    margin: 0 .5rem 0 .5rem;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

fieldset {
    width: 80%;
}