center {
    display: flex;
    justify-content: center;
}

label {
    display: block;
}

.inline {
    display: inline-block;
}

.btn-block {
    margin-top: 10px;
    text-align: center;
}

form {
    margin: 0 auto;
    width: 250px;
}