<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D.R.A.S Administrator</title>
    <link rel="stylesheet" href="static/base.css">
    <link rel="stylesheet" href="static/admin.css">
</head>
<body>
    <div id="mainpage">
        <header>
            <div>D.R.A.S Administrator Page</div>
            <div>Disaster Relief Assistance Service</div>
            <div>Relief Victim Needs</div>
            <form action="/admin" method="post">
                <input type="hidden" name="email" id="" value=email>
                <input type="hidden" name='password' value=password>
                <button>Refresh</button>
            </form>
        </header>
        <div id="peoplebox">
        {% for i in range(1,count) %}
            <div class="person">
                <div class='location'>
                    {{people[i]["street_address"]}}, {{people[i]["city"]}}, {{people[i]["state"]}}, {{people[i]["zipCode"]}}
                </div>
                <div class="needs">
                    <div class='parameter'>Water: {{people[i]['water']}}</div>
                    <div class='parameter'>Food: {{people[i]["food"]}}</div>
                    <div class='parameter'>Electricity: {{people[i]["electricity"]}}</div>
                    <div class='parameter'>Toiletries: {{people[i]["tp"]}}</div>
                    <div class='parameter'>Shelter: {{people[i]["shelter"]}}</div>
                </div>
            </div>
        {% endfor %}
        </div>

    </div>
</body>
</html>