<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D.R.A.S Administrator</title>
    <link rel="stylesheet" href="static/base.css">
</head>
<body>
    <div id="mainpage">
        <div id='box'>
            <h1>D.R.A.S Administrator Page</h1>
            <h2>Disaster Relief Assistance Service</h2>
            <h3>Relief Victim Needs</h3>
            <form action="/admin" method="post">
                <input type="hidden" name="email" id="" value=email>
                <input type="hidden" name='password' value=password>
                <button>Refresh</button>
            </form>
            {% for i in range(1,count) %}
                <div>{{people[i]}}</div>
            {% endfor %}
        </div>
    </div>
</body>
</html>