<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator View</title>
</head>
<body>
    <div id="mainpage">
        <div id='box'>
            <h1>Relief Victim Needs</h1>
            <form action="/admin" method="post">
                <input type="hidden" name="email" id="" value=email>
                <input type="hidden" name='password' value=password>
                <button>Refresh</button>
            </form>
            {% for i in range(0) %}
                l
            {% endfor %}
        </div>
    </div>
</body>
</html>