<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login-page.css">
    <script defer src="login-page.js"></script>
</head>

<body>
    <main id="main-holder">
        <h1 id="login-header">Disaster Registration - Account Creation</h1>


        <form id="login-form" method="post" action="/makeAccount">

            <label for="email-field"> Email:</label>
            <input type="text" name="email" id="email-field" class="login-form-field" placeholder="Email">

            <label for="password-field"> Password:</label>
            <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">

            <label for="birthdate"> Birthdate: </label>
            <input type="date" name="birthdate" id="birthdate" class="login-form-field" placeholder="">

            <label for="license-number"> License Number:</label>
            <input type="password" name="license_number" id="license-number" class="login-form-field" placeholder="123">

            <label for="ssn"> Social Security Number:</label>
            <input type="password" name="social_security_number" id="ssn" class="login-form-field"
                placeholder="xxx-xx-xxxx">


            <label for="create-form-submit"> Create Account:</label>
            <input type="submit" value="Create Account" id="create-form-submit">

        </form>
        <!-- hey -->

    </main>
</body>

</html>