<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="form.css">
</head>


<h1>Resources Assistance Form</h1>
<form>
    <h2>Basic Information</h2>
    <label for = "city">City Name:</label>
    <input type = "text" id = "city" name = "city">
    <label for = "state">State:</label>
    <input type = "text" id = "state" name = "state">
    <label for = "zip code">Zip Code:</label>
    <input type = "text" id = "zipcode" name = "zipcode">
    <label for = "importance"></label>
    <form>
        <h2></h2>
        <input type = "radio" id = "5" name = "urgency"; value = "5">
        <label for = "5">5</label>
    </form>
</form>