<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRAS Home</title>
    <link rel="stylesheet" href="static/landingpage.css">
    <link rel="stylesheet" href="static/base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap" rel="stylesheet">

</head>
<body>
    <div id="mainpage">
        <div id='box'>
            <h1>DRAS</h1>
            <h2>Disaster Relief Assistance Service</h2>
            <form action="/userlogin" method="get">
                <button>User Login</button>
            </form>
            <form action="/createAccount" method="get">
                <button>Create Account</button>
            </form>
            <form action="adminlogin" method='get'>
                <button>Admin Login</button>
            </form>
        </div>
    </div>
</body>
</html>